<%- contentFor('body') %>
<div class="jumbotron text-center">
  <article class="card">
    <h1 class="title">
      Rescale components in an intuitive way with RFS
    </h1>
    <p>
      This card uses <a href="https://github.com/twbs/rfs" target="_blank">RFS</a> to rescale <code>margin</code>, <code>padding</code>, <code>font-size</code>, <code>box-shadow</code> &amp; <code>border-radius</code>. Resize the codepen to see it in action.
    </p>
    <p>
      This is the codepen example using the Sass mixin to rescale values, for more demo's and documentation, check the <a href="https://github.com/twbs/rfs" target="_blank">Github repo</a>.
    </p>
    <p class="small">
      Made by
      <a href="https://twitter.com/Martijn_Cuppens" target="_blank" title="Visit Martijn's Twitter profile">Martijn Cuppens</a>
    </p>
  </article>
</div>