<%- contentFor('body') %>
<div class="jumbotron text-center">
   <p>Olá, eu sou o Wellington. Esta é minha aplicação de exemplo.!!!</p>
   <p><img src="images/wellington-2-150x150.jpeg" alt="Foto do Wellington"></p>
</div>